<div class='container'>
  <h2>Profile:</h2>
  <p class='profile_properties'>username: {{user.name}}</p>
  <p class='profile_properties'>email: {{user.email}}</p>
  <p class='profile_properties'>age: {{user.age}}</p>
  <p class='profile_properties'>rol: {{user.rol}}</p>

  <input type='button' value='Logout' id='logout' />
</div>

<script type='module' src='/js/products.js'></script>