<div class='container'>
  <h2>Profile:</h2>
  <p class='profile_properties'>{{user.name}}</p>
  <p class='profile_properties'>{{user.email}}</p>
  <p class='profile_properties'>{{user.age}}</p>
</div>