<div class='container'>
  <h1>REGISTER</h1>
  <form class='form' id='formContainer'>
    <label>Email</label>
    <input type='email' name='email' />
    <label>Password</label>
    <input type='password' name='password' />
    <label>first name</label>
    <input type='text' name='first_name' />
    <label>last name</label>
    <input type='text' name='last_name' />
    <label>age</label>
    <input type='number' name='age' />

  </form>
  <br />
  <p>Login: <a href='/login'>sign in here</a></p>
</div>

<script type='module' src='/js/register.js'></script>